@page "/"

@using festivalbooking.Shared;
@inject HttpClient Http

            @if (vagter == null)
        {
            <p><em>Either data is being fetched or something isnt working, lets hope for the former</em></p>
        }
             else if (områder == null)
             {
                     <p><em>Either data is being fetched or something isnt working, lets hope for the former</em></p>
             }
       
        else
        {
                
             <NavLink class="nav-link" href="/frivillig" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Frivillige
            </NavLink>
            <NavLink class="nav-link" href="/opgaver" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Opgaver
            </NavLink>
             <NavLink class="nav-link" href="/test" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Log ud
            </NavLink>
            <h2>Lille app til at demonstrere hvordan man bygger en controller samt service layer med simpel CRUD funktionalitet VHA. Dapper og C# </h2>

        <p>I disse felter kan man skrive et input, ønsker man at uploade det til databasen trykker man blot på "POST DIS"</p>
        <p>ønsker man at ændre i en entry, skriver man blot inde i den givne entry's felter og trykker herefter på "EDIT DIS"</p>
        <input @bind-value="vagt.vagt_start" placeholder="string" />
        <input @bind-value="vagt.vagt_slut" placeholder="double" />  
          <select multiple>
            @foreach (var item2 in områder)
            {
             
                    <option value="@item2.opgave_id" @onclick="@(()=>bindOid(@item2))"> @item2.opgave_navn</option>
                    }
                </select> 
                       
        <button class="btn btn-sm btn-primary" @onclick="@(()=>postVagt(@vagt))">POST DIS</button>
        <h3>Sortér</h3>
                     <button class="btn btn-sm btn-primary" @onclick="@(()=>sortVagterByområde())">sorter efter område</button>
                  
                     <button class="btn btn-sm btn-primary" @onclick="@(()=>sortVagterByAntal())">sorter efter antal personer skrevet på</button>
        <h3>Filtrér</h3>
         
                    <select multiple>
             @foreach (var item2 in områder)
            {
             
                    <option value="@item2.opgave_id" @onclick="@(()=>getVagterByOmråde(@item2.opgave_id))"> @item2.opgave_navn</option>
                    }
                    </select>
        <p>Liste over entries</p>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Start tid</th>
                        <th>Slut tid</th>
                        <th>
                           Opgave
                        </th>
                   
                        <th>
                            antal skrevet på
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in vagter)
                    {
                    <tr>
                        <td>@item.vagt_start</td>
                     
                        <td>@item.vagt_slut</td>
                         
                        <td>@item.opgave_navn</td>
                        
        
             
                <td>@item.antal_personer_skrevet_pa</td>
                        <td>
                            
                        </td>
                        @if(item.er_last == false){

                    
                        <td>
                            <button class="btn btn-sm btn-primary" @onclick="@(()=>toggleEdit(@item.vagt_id))">EDIT DIS</button>
                        </td>
                            }
                            @foreach (var item2 in områder){

                           @if(item2.opgave_id == item.opgave_id) {
                               @if(item2.er_last == false){
                        @if (!(item.er_last == true))
                        {
                            <button class="btn btn-sm btn-primary" @onclick="@(()=>låsEllerÅbenVagt(@item))">Lås</button>
                        }
                        else 
                        {
                            <button class="btn btn-sm btn-primary" @onclick="@(()=>låsEllerÅbenVagt(@item))">Lås op</button>
                        }
                               }
                               else {
                                   <p>Den tilhørende opgave er låst</p>
                               }
                        }
                         }
                    </tr>
                    }
                </tbody>
            </table>
           
            @if (isEdit == true){
                     <label>Vagt Start</label><br>
                     <input @bind-value="vagt.vagt_start" placeholder="start tid" /><br>
                     <label>Vagt Slut</label><br>
                      <input @bind-value="vagt.vagt_slut" placeholder="slut tid" /><br>
                      <label>Vagt opgave</label><br>
            <select id="områder" multiple>
            @foreach (var item1 in områder)
            {
             
                    <option value="@item1.opgave_id'" @onclick="@(()=>bindOid(@item1))"> @item1.opgave_navn</option>
                    }
                </select><br>
                <button class="btn btn-sm btn-primary" @onclick="@(()=>DeleteVagt(@vagt.vagt_id))">DELET DIS</button><br>
                @if(vagt.vagt_start == default |vagt.vagt_slut == default){
                        <p>Husk at angive start og/eller slut tidspunkt</p>
                }else if (vagt.opgave_id == 0){
                        <p>Husk at angive en opgave</p>
                }
                else{
                  <button class="btn btn-sm btn-primary" @onclick="@(()=>patchVagt(@vagt))">bekræft opdatering</button>  
                }
                
                
            }
            }

        
@code{
    private bool isEdit = false; 
private vagtDTO[] vagter;

private opgaveDTO[] områder;

private vagt_statusDTO [] status;
private vagtDTO vagt = new vagtDTO();
protected override async Task OnInitializedAsync()
{
    vagter = await Http.GetFromJsonAsync<vagtDTO[]>("api/vagt");
    områder = await Http.GetFromJsonAsync<opgaveDTO[]>("api/omrader");
    status = await Http.GetFromJsonAsync<vagt_statusDTO[]>("api/status");
}
 private async Task sortVagterByområde()
    {
        vagter = await Http.GetFromJsonAsync<vagtDTO[]>("api/omrader/sort");
        //await OnInitializedAsync();

    }

   
       private async Task sortVagterByAntal()
    {
        vagter = await Http.GetFromJsonAsync<vagtDTO[]>("api/antal/sort");
        //await OnInitializedAsync();

    }


 private async Task DeleteVagt(int? id)
    {
      isEdit = false;
     
    await Http.DeleteAsync($"api/vagt/{id}");
    await OnInitializedAsync();
    }

private async Task postVagt(vagtDTO vagt)
{
    await Http.PostAsJsonAsync<vagtDTO>("api/vagt", vagt);
    await OnInitializedAsync();
}
private async Task patchVagt(vagtDTO paraVagt)
{
  
           
        isEdit = false;
    await Http.PutAsJsonAsync<vagtDTO>($"api/vagt/{paraVagt.vagt_id}", paraVagt);
    await OnInitializedAsync();
}
   private void bindOid(opgaveDTO område)
    {
        vagt.opgave_id = område.opgave_id;
        vagt.opgave_navn = område.opgave_navn;
        //Console.WriteLine($"{vagt.område_id}");


    }
    
        
    private async Task låsEllerÅbenVagt(vagtDTO vagt)
    {
    await Http.PutAsJsonAsync<vagtDTO>($"api/las/{vagt.vagt_id}", vagt);
   await OnInitializedAsync();
    }

     
    
       private async Task getVagterByOmråde(int id){
        vagter = await Http.GetFromJsonAsync<vagtDTO[]>($"api/omrade/{id}");
        //await OnInitializedAsync();

    }

    private bool toggleEdit (int? id){
        if (isEdit == true){
            vagt.vagt_id = null;
            vagt.vagt_start = default;
            vagt.vagt_slut = default;
            vagt.opgave_id = 0;
return isEdit = false;
        }
        vagt.vagt_id = id;
        return isEdit = true; 
    }
    
}



