@page "/opgaver"
@using festivalbooking.Shared;
@inject HttpClient Http

            @if (områder == null)
        {
            <p><em>Either data is being fetched or something isnt working, lets hope for the former</em></p>
        }
           
       
        else
        {
           
 <table class="table table-responsive"> 
    <thead>
        <th>Opgave Navn</th>
        <th>Status</th>
        <th>Beskrivelse</th>
        <th>Team-Opgave</th>
    </thead>
    <input @bind-value="opgave.opgave_navn" placeholder="string" />
     <select multiple>
                 @foreach(var status in status){
                       <option value="@status.status_id'" @onclick="@(()=>bindSid(@status))"> @status.status_navn</option>
                 }
             </select>
             <input @bind-value="opgave.opgave_beskrivelse" placeholder="string" />
             <input type="checkbox"  @bind="checkedValue">
             <button class="btn btn-sm btn-primary" @onclick="@(()=>postOpgave(@opgave))">POST DIS</button>
    
    <tbody>
          @foreach (var item in områder){
        <tr>
          
              <td>@item.opgave_navn</td>
               <input @bind-value="opgave.opgave_navn" placeholder="string" />
              <td> @item.status_navn</td>
             <select multiple>
                 @foreach(var item1 in status){
                       <option value="@item1.status_id'" @onclick="@(()=>bindSid(@item1))"> @item1.status_navn</option>
                 }
             </select>
              <td>@item.opgave_beskrivelse</td>
              <input @bind-value="opgave.opgave_beskrivelse" placeholder="string" />
              @if (item.er_team_opgave == false){
                  <td>ikke en team-opgave</td>
                <input type="checkbox"  @bind="checkedValue1">
              }else {
                  <td>team-opgave</td>
                  <input type="checkbox"  @bind="checkedValue">
              }
                <td>
                            <button class="btn btn-sm btn-primary" @onclick="@(()=>DeleteOpgave(@item.opgave_id))">DELET DIS</button>
                </td>
                 <td>
                            <button class="btn btn-sm btn-primary" @onclick="@(()=>patchOpgave(@item.opgave_id))">EDIT DIS</button>
                </td>
                 </tr>
          } 
       
        
    </tbody>
 </table>
        }      
         
 
        
@code{
    private bool checkedValue;
    private bool checkedValue1;
    private vagt_statusDTO [] status;
    private opgaveDTO opgave = new opgaveDTO();
    private opgaveDTO[] områder;
protected override async Task OnInitializedAsync()
{
   
    områder = await Http.GetFromJsonAsync<opgaveDTO[]>("api/omrader");
         status = await Http.GetFromJsonAsync<vagt_statusDTO[]>("api/status");
 
}

 private async Task DeleteOpgave(int id)
    {
     
    
    await Http.DeleteAsync($"api/opgaver/{id}");
    await OnInitializedAsync();
    }

    private async Task postOpgave(opgaveDTO opgave)
{
    await Http.PostAsJsonAsync<opgaveDTO>("api/opgaver", opgave);
    await OnInitializedAsync();
}
private async Task patchOpgave(int opgave_id)
{
          opgave.opgave_id = opgave_id; 
    await Http.PutAsJsonAsync<opgaveDTO>($"api/opgaver/{opgave_id}", opgave);
    await OnInitializedAsync();
}
 private void bindSid(vagt_statusDTO status)
    {
        opgave.status_id = status.status_id;
        opgave.status_navn = status.status_navn;
        //Console.WriteLine($"{vagt.område_id}");


    }
    private bool isChecked(){
        if(checkedValue == false){
           return opgave.er_team_opgave = false;
        }
        else {
           return opgave.er_team_opgave = true;
        }
    }

     private bool isChecked1(){
        if(checkedValue1 == false){
            return opgave.er_team_opgave = true;
        }
        else {
           return opgave.er_team_opgave = false;
        }
    }

    
}



